html{
    background-image:url(https://33.media.tumblr.com/1a1b70a87cb83af22c833b9efb908b07/tumblr_n7kzs1voHo1qhnszoo1_r1_400.gif);
    background-size:cover;
    height:100%;
    background-position:center;
  }
  